* {
    box-sizing: border-box;
  }
body {
    font-family: 'Recursive', sans-serif;
    font-family: 'Righteous', cursive;
    
    background-color: #FB6B6B;
    z-index: 0;
}
.esconder {
  display: none;
}



.tela-inicial {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  z-index: 1;
}
.logo-inicial img{
  width: 136px;
  height: 161px;
}
.logo-inicial {
  font-family: "Righteous";
  font-size: 36px;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  gap: 13px;
}

.tela-inicial button {
  width: 246px;
  height: 54px;

  font-family: "Recursive";
  font-size: 18px;
  font-weight: 400;
  color: #D70900;

  background-color: #FFFFFF;
  border: 1px solid #D70900;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000026;
}




.tela-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 85px;
  z-index: 1;
}

.logo-principal {
  font-family: "Righteous";
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-principal img {
  width: 52px;
  height: 60px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 60px;
}
.cards .selecionado {
  height: 131px;
  background-color: #FFFFD4;

  font-family: "Recursive";
  font-size: 18px;
  font-weight: 400;
  color: #333333;

  align-items: flex-start;
  padding: 15px 18px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px 0px #00000026;
}
.card {
  width: 300px;
  height: 65px;

  font-family: "Recursive";
  font-size: 16px;
  font-weight: 700;
  color: #333333;

  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 5px 0px #00000026;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: relative;
}
.card ion-icon {
  font-size: 23px;
}
.card img {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 6px;
  right: 15px;
}
.card .opcoes {
  font-family: "Recursive";
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  
  display: flex;
  gap: 8px;
  position: absolute;
  left: 13px;
  bottom: 6px;
}
.nao-lembrei, .zap, .quase {
  width: 85px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 2;
}
.card .nao-lembrei {
  background-color: #FF3030;
}
.card .quase {
  background-color: #FF922E;
}
.card .zap {
  background-color: #2FBE34;
}
.incorreto {
  color: #D70900;
  text-decoration: line-through;
}
.demorou {
  color: #FF922E;
  text-decoration: line-through;
}
.correto {
  color: #2FBE34;
  text-decoration: line-through;
}
.card .incorreto img, .card .demorou img, .card .correto img {
  width: 23px;
  height: 23px;
  bottom: 19px;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  
  position: fixed;
  bottom: 0;
  z-index: 9;
  text-align: center;
  
  box-shadow: 0px -4px 6px 0px #0000000D;
}
footer.total {
  height: 35px;
  font-family: "Recursive";
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

footer .icones {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
footer img {
  width: 23px;
  height: 23px;
}